doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		h1 트랙관리 프로그램
		div(id='menu_bar')
			style(type='text/css').
				form {display: inline;}
				button {width: 100px; margin: 5px;}
			form(action='/login')
				button 로그인
			form(action='/logout')
				button 로그아웃
			form(action='/track')
				button 홈
			form(action='/subject')
				button 과목검색
			form(action='/manage')
				button 관리
		block content
