doctype html
html
    head
        meta(charset='utf-8')
    body
        h1 Login
        form(action="/login" method='post')
            p
                input(type='text' name='userID' placeholder='userID')
            p
                input(type='password' name='password' placeholder='password')
            p
                input(type='submit')
        a(href="/register") 회원가입