doctype html
html
    head
    body
        h1 Login
        form(action="/auth/login" method='post')
            p
                input(type='text' name='username' placeholder='userid')
            p
                input(type='password' name='password' placeholder='password')
            p
                input(type='submit')