doctype html
html
    head
    body
        h1 Registration
        form(action="/auth/register" method='post')
            p
                input(type='text' name='userID' placeholder='userID')
            p
                input(type='text' name='username' placeholder='username')    
            p
                input(type='password' name='password' placeholder='password')
            p
                input(type='submit')